<h1>Show</h1>

<h2><%= @list.name %></h2>
<table class="table">
  <thead>
    <tr>
    	<th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">comment</th>
      <th scope="col">rating</th>
    </tr>
  </thead>
  <tbody>
    <% @list.bookmarks.each_with_index do |bookmark, i|  %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= bookmark.name %></td>
        <td><%= bookmark.comment %></td>
        <td><%= bookmark.rating %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "Create a bookmark", new_list_bookmark_path(@list) %></p>
<p><%= link_to "Back", lists_path %></p>